body {
  background-color: #C7F0BD;
}

nav {
  align-content: center;
  font-size: 15px;
}

nav li {
  list-style: none;
  display: inline-block;
}

ul {
  display: flex;
  justify-content: space-around;
}

#navbar {
  background: #B3CDD1;
  padding: 1%;
}
