<h1>Job Categories</h1>
<h3><%= link_to "Create a New Category", new_category_path, class: "new-category" %></h3>

<% @categories.each do |category| %>
  <ul>
    <li><%= link_to category.title, category_path(category) %> </li>
  </ul>
<% end %>
